body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

header.background{
  background-image: url("https://images.unsplash.com/photo-1496469888073-80de7e952517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80");
  background-position: center;
  background-size: cover;
  height: 100%;
}

.background h1{
  margin-top: 150px;
  font-size: 70px;
  margin-bottom: 20px;

}

header.background hr {
  margin-bottom: 30px; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}
.btn {
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: lightblue;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
